
.footer {
  background-color: #f0f0f0; /* Couleur de fond gris clair */
  color: #333; /* Couleur du texte */
  padding: 20px 0; /* Espacement intérieur du pied de page */
  text-align: center; /* Alignement du contenu au centre */
}

.footer-content {
  display: flex; /* Utiliser la flexbox pour aligner le contenu */
  justify-content: center; /* Centrer le contenu horizontalement */
  align-items: center; /* Centrer le contenu verticalement */
}

.footer-content p {
  margin-left: 10px; /* Espacement entre le logo et le texte */
}

.footer-content img {
  height: 30px; /* Hauteur du logo */
}
